* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 15.5px;
}
.bg-gray {
  background-color: rgb(231, 229, 229);
}
.purple-top {
  border-top: 8px solid #673ab7;
}
.additional-p {
  font-size: 13px;
}
input[type="text"],
input[type="tel"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
input[type="tel"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #673ab7;
}

input[placeholder] {
  font-size: 14px;
}
.form-check {
  margin-top: 10px;
}
.form-check-label {
  margin-left: 10px;
}
.footer{
  font-family: Roboto,Arial,sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 1px;
    color: #70757a;
    color: rgba(0,0,0,0.66);
    margin-top: 2px;
}
.footer1{
  font: 400 10px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  margin-top: 6px;
  padding: 0 12px;
  text-align: center;
}
.go-form{
  font-family: 'Product Sans',Arial,Helvetica,sans-serif;
  font-size: 22.1px;
  position: relative;
  top: 3px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

